.gradle
/.gradle
/build/
/adapter/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
/.idea
*.iws
*.iml
*.ipr
/out/
/adapter/out/
/app-failed
/app-input
/app-invalid
/app-processed
Report*.json